/*Tabelas*/
.table-sc-primary,
.table-sc-primary > th,
.table-sc-primary > td {
    background-color: hsl(203,94%,90%);
}

.table-hover .table-sc-primary:hover {
    background-color: hsl(203,94%,87%);
}

.table-hover .table-sc-primary:hover > td,
.table-hover .table-sc-primary:hover > th {
    background-color: hsl(203,94%,87%);
}

/*Botões*/

.btn-sc-primary {
    border-color: hsl(203,94%,27%);
    color: hsl(203,94%,100%);
    background-color: hsl(203,94%,27%);
}

.btn-sc-primary:hover {
    border-color: hsl(203,94%,17%);
    color: hsl(203,94%,100%);
    background-color: hsl(203,94%,22%);
}

.btn-sc-primary:focus, .btn-sc-primary.focus {
    box-shadow: 0 0 0 0.2rem hsla(203,94%,27%,0.5);
}

.btn-sc-primary.disabled, .btn-sc-primary:disabled {
    color: hsl(203,74%,40%);
    background-color: hsl(203,74%,80%);/*#007bff;*/
    border-color: hsl(203,74%,75%);
}

.btn-sc-primary:not(:disabled):not(.disabled):active, .btn-sc-primary:not(:disabled):not(.disabled).active,
.show > .btn-sc-primary.dropdown-toggle {
    color: hsl(203,94%,100%);
    background-color: hsl(203,94%,12%);
    border-color: hsl(203,94%,7%);
}

.btn-sc-primary:not(:disabled):not(.disabled):active:focus, .btn-sc-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-sc-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem hsla(203,94%,27%,0.5);
}

.btn-outline-sc-primary {
    color: hsl(203,94%,27%);
    background-color: transparent;
    background-image: none;
    border-color: hsl(203,94%,27%);
}

.btn-outline-sc-primary:hover {
    color: hsl(203,94%,100%);
    background-color: hsl(203,94%,27%);
    border-color: hsl(203,94%,27%);
}

.btn-outline-sc-primary:focus, .btn-outline-sc-primary.focus {
    box-shadow: 0 0 0 0.2rem hsla(203,94%,27%,0.5);
}

.btn-outline-sc-primary.disabled, .btn-outline-sc-primary:disabled {
    color: hsl(203,94%,27%);
    background-color: transparent;
}

.btn-outline-sc-primary:not(:disabled):not(.disabled):active, .btn-outline-sc-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-sc-primary.dropdown-toggle {
    color: #fff;
    background-color: hsl(203,94%,27%);
    border-color: hsl(203,94%,27%);
}

.btn-outline-sc-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-sc-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-sc-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem hsla(203,94%,27%,0.5);
}

.badge-sc-primary {
    color: #fff;
    background-color: hsl(203,94%,27%);
}

.badge-sc-primary[href]:hover, .badge-sc-primary[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: hsl(203,94%,22%);
}

.alert-sc-primary {
    color: hsl(203,94%,47%);
    background-color: hsl(203,94%,52%);
    border-color: hsl(203,94%,42%);
}

.alert-sc-primary hr {
    border-top-color: hsl(203,94%,42%);
}

.alert-sc-primary .alert-link {
    color: hsl(203,94%,67%);
}


.list-group-item-sc-primary {
    color: hsl(203,94%,67%);
    background-color: hsl(203,94%,90%);
}

.list-group-item-sc-primary.list-group-item-action:hover, .list-group-item-sc-primary.list-group-item-action:focus {
    color: hsl(203,94%,67%);
    background-color: hsl(203,94%,87%);
}

.list-group-item-sc-primary.list-group-item-action.active {
    color: #fff;
    background-color: hsl(203,94%,67%);
    border-color: hsl(203,94%,67%);
}

.bg-dark-sc-primary{
  background-color: hsl(203,94%,30%);
}
.bg-light-sc-primary{
    background-color: hsl(203,94%,80%);
}
.text-dark-sc-primary{
    color: hsl(203,94%,30%);
}

  a.text-dark-sc-primary, .btn-link.text-dark-sc-primary{
    color: hsl(203,94%,30%);
  }

  a.text-dark-sc-primary:hover, a.text-dark-sc-primary:focus,.btn-link.text-dark-sc-primary:hover,.btn-link.text-dark-sc-primary:focus {
    color: hsl(203,94%,50%);
  }

.border-light-sc-primary{
    color: hsl(203,94%,80%);
}
.border-dark-sc-primary{
    border-color: hsl(203,94%,30%);
}
.border-light-sc-primary{
    border-color: hsl(203,94%,80%);
}

.bg-sc-primary{
    border-color: hsl(203,94%,27%);
    color: hsl(203,94%,100%);
    background-color: hsl(203,94%,27%) !important;
}

.fg-sc-primary, .fg-sc-primary a{
  color: hsl(203,94%,100%);
}

.iconbg-sc-primary{
    background-color: hsl(203,94%,100%) !important;
}

.fg-sc-primary a:hover, .fg-sc-primary a:focus{
  color: hsl(203,94%,100%);
  background-color: hsla(203,94%,100%,0.1);
}

  a.bg-sc-primary:hover, a.bg-sc-primary:focus,
button.bg-sc-primary:hover,
button.bg-sc-primary:focus {
    color: hsl(203,94%,100%);
    background-color: hsl(203,94%,17%) !important;
}

.border-sc-primary {
    border-color: hsl(203,94%,27%) !important;
}


.text-sc-primary {
    color: hsl(203,94%,27%) !important;
}

a.text-sc-primary:hover, a.text-sc-primary:focus {
    color: hsl(203,94%,12%) !important;
}


.btn-link-sc-primary {
    font-weight: 400;
    color: hsl(203,94%,27%);
    background-color: transparent;
}

.btn-link-sc-primary:hover {
    color: hsl(203,94%,12%);
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

.btn-link-sc-primary:focus, .btn-link-sc-primary.focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}

.btn-link-sc-primary:disabled, .btn-link-sc-primary.disabled {
    color: #6c757d;
}

.custom-control-input-sc-primary:not(:disabled) ~ .custom-control-label-sc-primary::before {
    background-color: hsl(203,94%,47%) !important;
}
.custom-control-input-sc-primary:checked ~ .custom-control-label-sc-primary::before {
    color: #fff;
    background-color: hsl(203,94%,27%) !important;
}

.custom-control-input-sc-primary:focus ~ .custom-control-label-sc-primary::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem hsla(203,94%,27%,0.5);
}

.custom-control-input-sc-primary:active ~ .custom-control-label-sc-primary::before {
    color: #fff;
    background-color: hsl(203,94%,42%);
}


  .custom-control-input-dark-sc-primary:not(:disabled) ~ .custom-control-label-dark-sc-primary::before {
    background-color: hsl(203,94%,40%) !important;
  }
  .custom-control-input-dark-sc-primary:checked ~ .custom-control-label-dark-sc-primary::before {
      color: #fff;
      background-color: hsl(203,94%,30%) !important;
  }

  .custom-control-input-dark-sc-primary:focus ~ .custom-control-label-dark-sc-primary::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem hsla(203,94%,30%,0.5);
  }

  .custom-control-input-dark-sc-primary:active ~ .custom-control-label-dark-sc-primary::before {
      color: #fff;
      background-color: hsl(203,94%,80%);
  }


  .custom-control-input-sc-primary:disabled ~ .custom-control-label-sc-primary {
    color: #6c757d;
}

.custom-control-input-sc-primary:disabled ~ .custom-control-label-sc-primary::before {
    background-color: #e9ecef;
}

.bg-t5-sc-primary{
    background-color:hsla(203,94%,27%,0.5);
}
  .bg-t4-sc-primary{
  background-color:hsla(203,94%,27%,0.4);
  }
  .bg-t3-sc-primary{
  background-color:hsla(203,94%,27%,0.3);
  }
  .bg-t2-sc-primary{
  background-color:hsla(203,94%,27%,0.2);
  }
  .bg-t1-sc-primary{
  background-color:hsla(203,94%,27%,0.1);
  }
  .bg-t01-sc-primary{
  background-color:hsla(203,94%,27%,0.01);
  }
  .bg-t7-sc-primary{
  background-color:hsla(203,94%,27%,0.7);
  }
  .bg-t9-sc-primary{
  background-color:hsla(203,94%,27%,0.9);
  }
  .bg-t95-sc-primary{
  background-color:hsla(203,94%,27%,0.95);
  }
  .bg-t99-sc-primary{
  background-color:hsla(203,94%,27%,0.99);
  }



  /*Tabelas*/
.table-sc-secondary,
.table-sc-secondary > th,
.table-sc-secondary > td {
    background-color: hsl(204,73%,90%);
}

.table-hover .table-sc-secondary:hover {
    background-color: hsl(204,73%,87%);
}

.table-hover .table-sc-secondary:hover > td,
.table-hover .table-sc-secondary:hover > th {
    background-color: hsl(204,73%,87%);
}

/*Botões*/

.btn-sc-secondary {
    border-color: hsl(204,73%,55%);
    color: hsl(204,73%,100%);
    background-color: hsl(204,73%,55%);
}

.btn-sc-secondary:hover {
    border-color: hsl(204,73%,45%);
    color: hsl(204,73%,100%);
    background-color: hsl(204,73%,50%);
}

.btn-sc-secondary:focus, .btn-sc-secondary.focus {
    box-shadow: 0 0 0 0.2rem hsla(204,73%,55%,0.5);
}

.btn-sc-secondary.disabled, .btn-sc-secondary:disabled {
    color: hsl(204,53%,40%);
    background-color: hsl(204,53%,80%);/*#007bff;*/
    border-color: hsl(204,53%,75%);
}

.btn-sc-secondary:not(:disabled):not(.disabled):active, .btn-sc-secondary:not(:disabled):not(.disabled).active,
.show > .btn-sc-secondary.dropdown-toggle {
    color: hsl(204,73%,100%);
    background-color: hsl(204,73%,40%);
    border-color: hsl(204,73%,35%);
}

.btn-sc-secondary:not(:disabled):not(.disabled):active:focus, .btn-sc-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-sc-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem hsla(204,73%,55%,0.5);
}

.btn-outline-sc-secondary {
    color: hsl(204,73%,55%);
    background-color: transparent;
    background-image: none;
    border-color: hsl(204,73%,55%);
}

.btn-outline-sc-secondary:hover {
    color: hsl(204,73%,100%);
    background-color: hsl(204,73%,55%);
    border-color: hsl(204,73%,55%);
}

.btn-outline-sc-secondary:focus, .btn-outline-sc-secondary.focus {
    box-shadow: 0 0 0 0.2rem hsla(204,73%,55%,0.5);
}

.btn-outline-sc-secondary.disabled, .btn-outline-sc-secondary:disabled {
    color: hsl(204,73%,55%);
    background-color: transparent;
}

.btn-outline-sc-secondary:not(:disabled):not(.disabled):active, .btn-outline-sc-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-sc-secondary.dropdown-toggle {
    color: #fff;
    background-color: hsl(204,73%,55%);
    border-color: hsl(204,73%,55%);
}

.btn-outline-sc-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-sc-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-sc-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem hsla(204,73%,55%,0.5);
}

.badge-sc-secondary {
    color: #fff;
    background-color: hsl(204,73%,55%);
}

.badge-sc-secondary[href]:hover, .badge-sc-secondary[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: hsl(204,73%,50%);
}

.alert-sc-secondary {
    color: hsl(204,73%,35%);
    background-color: hsl(204,73%,80%);
    border-color: hsl(204,73%,70%);
}

.alert-sc-secondary hr {
    border-top-color: hsl(204,73%,70%);
}

.alert-sc-secondary .alert-link {
    color: hsl(204,73%,5%);
}


.list-group-item-sc-secondary {
    color: hsl(204,73%,5%);
    background-color: hsl(204,73%,90%);
}

.list-group-item-sc-secondary.list-group-item-action:hover, .list-group-item-sc-secondary.list-group-item-action:focus {
    color: hsl(204,73%,5%);
    background-color: hsl(204,73%,87%);
}

.list-group-item-sc-secondary.list-group-item-action.active {
    color: #fff;
    background-color: hsl(204,73%,5%);
    border-color: hsl(204,73%,5%);
}

.bg-dark-sc-secondary{
  background-color: hsl(204,73%,30%);
}
.bg-light-sc-secondary{
    background-color: hsl(204,73%,80%);
}
.text-dark-sc-secondary{
    color: hsl(204,73%,30%);
}

  a.text-dark-sc-secondary, .btn-link.text-dark-sc-secondary{
    color: hsl(204,73%,30%);
  }

  a.text-dark-sc-secondary:hover, a.text-dark-sc-secondary:focus,.btn-link.text-dark-sc-secondary:hover,.btn-link.text-dark-sc-secondary:focus {
    color: hsl(204,73%,50%);
  }

.border-light-sc-secondary{
    color: hsl(204,73%,80%);
}
.border-dark-sc-secondary{
    border-color: hsl(204,73%,30%);
}
.border-light-sc-secondary{
    border-color: hsl(204,73%,80%);
}

.bg-sc-secondary{
    border-color: hsl(204,73%,55%);
    color: hsl(204,73%,100%);
    background-color: hsl(204,73%,55%) !important;
}

.fg-sc-secondary, .fg-sc-secondary a{
  color: hsl(204,73%,100%);
}

.iconbg-sc-secondary{
    background-color: hsl(204,73%,100%) !important;
}

.fg-sc-secondary a:hover, .fg-sc-secondary a:focus{
  color: hsl(204,73%,100%);
  background-color: hsla(204,73%,100%,0.1);
}

  a.bg-sc-secondary:hover, a.bg-sc-secondary:focus,
button.bg-sc-secondary:hover,
button.bg-sc-secondary:focus {
    color: hsl(204,73%,100%);
    background-color: hsl(204,73%,45%) !important;
}

.border-sc-secondary {
    border-color: hsl(204,73%,55%) !important;
}


.text-sc-secondary {
    color: hsl(204,73%,55%) !important;
}

a.text-sc-secondary:hover, a.text-sc-secondary:focus {
    color: hsl(204,73%,40%) !important;
}


.btn-link-sc-secondary {
    font-weight: 400;
    color: hsl(204,73%,55%);
    background-color: transparent;
}

.btn-link-sc-secondary:hover {
    color: hsl(204,73%,40%);
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

.btn-link-sc-secondary:focus, .btn-link-sc-secondary.focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}

.btn-link-sc-secondary:disabled, .btn-link-sc-secondary.disabled {
    color: #6c757d;
}

.custom-control-input-sc-secondary:not(:disabled) ~ .custom-control-label-sc-secondary::before {
    background-color: hsl(204,73%,75%) !important;
}
.custom-control-input-sc-secondary:checked ~ .custom-control-label-sc-secondary::before {
    color: #fff;
    background-color: hsl(204,73%,55%) !important;
}

.custom-control-input-sc-secondary:focus ~ .custom-control-label-sc-secondary::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem hsla(204,73%,55%,0.5);
}

.custom-control-input-sc-secondary:active ~ .custom-control-label-sc-secondary::before {
    color: #fff;
    background-color: hsl(204,73%,70%);
}


  .custom-control-input-dark-sc-secondary:not(:disabled) ~ .custom-control-label-dark-sc-secondary::before {
    background-color: hsl(204,73%,40%) !important;
  }
  .custom-control-input-dark-sc-secondary:checked ~ .custom-control-label-dark-sc-secondary::before {
      color: #fff;
      background-color: hsl(204,73%,30%) !important;
  }

  .custom-control-input-dark-sc-secondary:focus ~ .custom-control-label-dark-sc-secondary::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem hsla(204,73%,30%,0.5);
  }

  .custom-control-input-dark-sc-secondary:active ~ .custom-control-label-dark-sc-secondary::before {
      color: #fff;
      background-color: hsl(204,73%,80%);
  }


  .custom-control-input-sc-secondary:disabled ~ .custom-control-label-sc-secondary {
    color: #6c757d;
}

.custom-control-input-sc-secondary:disabled ~ .custom-control-label-sc-secondary::before {
    background-color: #e9ecef;
}

.bg-t5-sc-secondary{
    background-color:hsla(204,73%,55%,0.5);
}
  .bg-t4-sc-secondary{
  background-color:hsla(204,73%,55%,0.4);
  }
  .bg-t3-sc-secondary{
  background-color:hsla(204,73%,55%,0.3);
  }
  .bg-t2-sc-secondary{
  background-color:hsla(204,73%,55%,0.2);
  }
  .bg-t1-sc-secondary{
  background-color:hsla(204,73%,55%,0.1);
  }
  .bg-t01-sc-secondary{
  background-color:hsla(204,73%,55%,0.01);
  }
  .bg-t7-sc-secondary{
  background-color:hsla(204,73%,55%,0.7);
  }
  .bg-t9-sc-secondary{
  background-color:hsla(204,73%,55%,0.9);
  }
  .bg-t95-sc-secondary{
  background-color:hsla(204,73%,55%,0.95);
  }
  .bg-t99-sc-secondary{
  background-color:hsla(204,73%,55%,0.99);
  }



  /*Tabelas*/
.table-sc-bg1,
.table-sc-bg1 > th,
.table-sc-bg1 > td {
    background-color: hsl(357,68%,90%);
}

.table-hover .table-sc-bg1:hover {
    background-color: hsl(357,68%,87%);
}

.table-hover .table-sc-bg1:hover > td,
.table-hover .table-sc-bg1:hover > th {
    background-color: hsl(357,68%,87%);
}

/*Botões*/

.btn-sc-bg1 {
    border-color: hsl(357,68%,27.027%);
    color: hsl(357,68%,100%);
    background-color: hsl(357,68%,27.027%);
}

.btn-sc-bg1:hover {
    border-color: hsl(357,68%,17.027%);
    color: hsl(357,68%,100%);
    background-color: hsl(357,68%,22.027%);
}

.btn-sc-bg1:focus, .btn-sc-bg1.focus {
    box-shadow: 0 0 0 0.2rem hsla(357,68%,27.027%,0.5);
}

.btn-sc-bg1.disabled, .btn-sc-bg1:disabled {
    color: hsl(357,48%,40%);
    background-color: hsl(357,48%,80%);/*#007bff;*/
    border-color: hsl(357,48%,75%);
}

.btn-sc-bg1:not(:disabled):not(.disabled):active, .btn-sc-bg1:not(:disabled):not(.disabled).active,
.show > .btn-sc-bg1.dropdown-toggle {
    color: hsl(357,68%,100%);
    background-color: hsl(357,68%,12.027%);
    border-color: hsl(357,68%,7.027%);
}

.btn-sc-bg1:not(:disabled):not(.disabled):active:focus, .btn-sc-bg1:not(:disabled):not(.disabled).active:focus,
.show > .btn-sc-bg1.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem hsla(357,68%,27.027%,0.5);
}

.btn-outline-sc-bg1 {
    color: hsl(357,68%,27.027%);
    background-color: transparent;
    background-image: none;
    border-color: hsl(357,68%,27.027%);
}

.btn-outline-sc-bg1:hover {
    color: hsl(357,68%,100%);
    background-color: hsl(357,68%,27.027%);
    border-color: hsl(357,68%,27.027%);
}

.btn-outline-sc-bg1:focus, .btn-outline-sc-bg1.focus {
    box-shadow: 0 0 0 0.2rem hsla(357,68%,27.027%,0.5);
}

.btn-outline-sc-bg1.disabled, .btn-outline-sc-bg1:disabled {
    color: hsl(357,68%,27.027%);
    background-color: transparent;
}

.btn-outline-sc-bg1:not(:disabled):not(.disabled):active, .btn-outline-sc-bg1:not(:disabled):not(.disabled).active,
.show > .btn-outline-sc-bg1.dropdown-toggle {
    color: #fff;
    background-color: hsl(357,68%,27.027%);
    border-color: hsl(357,68%,27.027%);
}

.btn-outline-sc-bg1:not(:disabled):not(.disabled):active:focus, .btn-outline-sc-bg1:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-sc-bg1.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem hsla(357,68%,27.027%,0.5);
}

.badge-sc-bg1 {
    color: #fff;
    background-color: hsl(357,68%,27.027%);
}

.badge-sc-bg1[href]:hover, .badge-sc-bg1[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: hsl(357,68%,22.027%);
}

.alert-sc-bg1 {
    color: hsl(357,68%,47.027%);
    background-color: hsl(357,68%,52.027%);
    border-color: hsl(357,68%,42.027%);
}

.alert-sc-bg1 hr {
    border-top-color: hsl(357,68%,42.027%);
}

.alert-sc-bg1 .alert-link {
    color: hsl(357,68%,67.027%);
}


.list-group-item-sc-bg1 {
    color: hsl(357,68%,67.027%);
    background-color: hsl(357,68%,90%);
}

.list-group-item-sc-bg1.list-group-item-action:hover, .list-group-item-sc-bg1.list-group-item-action:focus {
    color: hsl(357,68%,67.027%);
    background-color: hsl(357,68%,87%);
}

.list-group-item-sc-bg1.list-group-item-action.active {
    color: #fff;
    background-color: hsl(357,68%,67.027%);
    border-color: hsl(357,68%,67.027%);
}

.bg-dark-sc-bg1{
  background-color: hsl(357,68%,30%);
}
.bg-light-sc-bg1{
    background-color: hsl(357,68%,80%);
}
.text-dark-sc-bg1{
    color: hsl(357,68%,30%);
}

  a.text-dark-sc-bg1, .btn-link.text-dark-sc-bg1{
    color: hsl(357,68%,30%);
  }

  a.text-dark-sc-bg1:hover, a.text-dark-sc-bg1:focus,.btn-link.text-dark-sc-bg1:hover,.btn-link.text-dark-sc-bg1:focus {
    color: hsl(357,68%,50%);
  }

.border-light-sc-bg1{
    color: hsl(357,68%,80%);
}
.border-dark-sc-bg1{
    border-color: hsl(357,68%,30%);
}
.border-light-sc-bg1{
    border-color: hsl(357,68%,80%);
}

.bg-sc-bg1{
    border-color: hsl(357,68%,27.027%);
    color: hsl(357,68%,100%);
    background-color: hsl(357,68%,27.027%) !important;
}

.fg-sc-bg1, .fg-sc-bg1 a{
  color: hsl(357,68%,100%);
}

.iconbg-sc-bg1{
    background-color: hsl(357,68%,100%) !important;
}

.fg-sc-bg1 a:hover, .fg-sc-bg1 a:focus{
  color: hsl(357,68%,100%);
  background-color: hsla(357,68%,100%,0.1);
}

  a.bg-sc-bg1:hover, a.bg-sc-bg1:focus,
button.bg-sc-bg1:hover,
button.bg-sc-bg1:focus {
    color: hsl(357,68%,100%);
    background-color: hsl(357,68%,17.027%) !important;
}

.border-sc-bg1 {
    border-color: hsl(357,68%,27.027%) !important;
}


.text-sc-bg1 {
    color: hsl(357,68%,27.027%) !important;
}

a.text-sc-bg1:hover, a.text-sc-bg1:focus {
    color: hsl(357,68%,12.027%) !important;
}


.btn-link-sc-bg1 {
    font-weight: 400;
    color: hsl(357,68%,27.027%);
    background-color: transparent;
}

.btn-link-sc-bg1:hover {
    color: hsl(357,68%,12.027%);
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

.btn-link-sc-bg1:focus, .btn-link-sc-bg1.focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}

.btn-link-sc-bg1:disabled, .btn-link-sc-bg1.disabled {
    color: #6c757d;
}

.custom-control-input-sc-bg1:not(:disabled) ~ .custom-control-label-sc-bg1::before {
    background-color: hsl(357,68%,47.027%) !important;
}
.custom-control-input-sc-bg1:checked ~ .custom-control-label-sc-bg1::before {
    color: #fff;
    background-color: hsl(357,68%,27.027%) !important;
}

.custom-control-input-sc-bg1:focus ~ .custom-control-label-sc-bg1::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem hsla(357,68%,27.027%,0.5);
}

.custom-control-input-sc-bg1:active ~ .custom-control-label-sc-bg1::before {
    color: #fff;
    background-color: hsl(357,68%,42.027%);
}


  .custom-control-input-dark-sc-bg1:not(:disabled) ~ .custom-control-label-dark-sc-bg1::before {
    background-color: hsl(357,68%,40%) !important;
  }
  .custom-control-input-dark-sc-bg1:checked ~ .custom-control-label-dark-sc-bg1::before {
      color: #fff;
      background-color: hsl(357,68%,30%) !important;
  }

  .custom-control-input-dark-sc-bg1:focus ~ .custom-control-label-dark-sc-bg1::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem hsla(357,68%,30%,0.5);
  }

  .custom-control-input-dark-sc-bg1:active ~ .custom-control-label-dark-sc-bg1::before {
      color: #fff;
      background-color: hsl(357,68%,80%);
  }


  .custom-control-input-sc-bg1:disabled ~ .custom-control-label-sc-bg1 {
    color: #6c757d;
}

.custom-control-input-sc-bg1:disabled ~ .custom-control-label-sc-bg1::before {
    background-color: #e9ecef;
}

.bg-t5-sc-bg1{
    background-color:hsla(357,68%,27.027%,0.5);
}
  .bg-t4-sc-bg1{
  background-color:hsla(357,68%,27.027%,0.4);
  }
  .bg-t3-sc-bg1{
  background-color:hsla(357,68%,27.027%,0.3);
  }
  .bg-t2-sc-bg1{
  background-color:hsla(357,68%,27.027%,0.2);
  }
  .bg-t1-sc-bg1{
  background-color:hsla(357,68%,27.027%,0.1);
  }
  .bg-t01-sc-bg1{
  background-color:hsla(357,68%,27.027%,0.01);
  }
  .bg-t7-sc-bg1{
  background-color:hsla(357,68%,27.027%,0.7);
  }
  .bg-t9-sc-bg1{
  background-color:hsla(357,68%,27.027%,0.9);
  }
  .bg-t95-sc-bg1{
  background-color:hsla(357,68%,27.027%,0.95);
  }
  .bg-t99-sc-bg1{
  background-color:hsla(357,68%,27.027%,0.99);
  }



  /*Tabelas*/
.table-sc-bg2,
.table-sc-bg2 > th,
.table-sc-bg2 > td {
    background-color: hsl(203,94%,90%);
}

.table-hover .table-sc-bg2:hover {
    background-color: hsl(203,94%,87%);
}

.table-hover .table-sc-bg2:hover > td,
.table-hover .table-sc-bg2:hover > th {
    background-color: hsl(203,94%,87%);
}

/*Botões*/

.btn-sc-bg2 {
    border-color: hsl(203,94%,30%);
    color: hsl(203,94%,30%);
    background-color: hsl(203,94%,100%);
}

.btn-sc-bg2:hover {
    border-color: hsl(203,94%,20%);
    color: hsl(203,94%,30%);
    background-color: hsl(203,94%,95%);
}

.btn-sc-bg2:focus, .btn-sc-bg2.focus {
    box-shadow: 0 0 0 0.2rem hsla(203,94%,50%,0.5);
}

.btn-sc-bg2.disabled, .btn-sc-bg2:disabled {
    color: hsl(203,74%,40%);
    background-color: hsl(203,74%,80%);/*#007bff;*/
    border-color: hsl(203,74%,75%);
}

.btn-sc-bg2:not(:disabled):not(.disabled):active, .btn-sc-bg2:not(:disabled):not(.disabled).active,
.show > .btn-sc-bg2.dropdown-toggle {
    color: hsl(203,94%,30%);
    background-color: hsl(203,94%,85%);
    border-color: hsl(203,94%,80%);
}

.btn-sc-bg2:not(:disabled):not(.disabled):active:focus, .btn-sc-bg2:not(:disabled):not(.disabled).active:focus,
.show > .btn-sc-bg2.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem hsla(203,94%,50%,0.5);
}

.btn-outline-sc-bg2 {
    color: hsl(203,94%,100%);
    background-color: transparent;
    background-image: none;
    border-color: hsl(203,94%,100%);
}

.btn-outline-sc-bg2:hover {
    color: hsl(203,94%,30%);
    background-color: hsl(203,94%,100%);
    border-color: hsl(203,94%,100%);
}

.btn-outline-sc-bg2:focus, .btn-outline-sc-bg2.focus {
    box-shadow: 0 0 0 0.2rem hsla(203,94%,100%,0.5);
}

.btn-outline-sc-bg2.disabled, .btn-outline-sc-bg2:disabled {
    color: hsl(203,94%,100%);
    background-color: transparent;
}

.btn-outline-sc-bg2:not(:disabled):not(.disabled):active, .btn-outline-sc-bg2:not(:disabled):not(.disabled).active,
.show > .btn-outline-sc-bg2.dropdown-toggle {
    color: #fff;
    background-color: hsl(203,94%,100%);
    border-color: hsl(203,94%,100%);
}

.btn-outline-sc-bg2:not(:disabled):not(.disabled):active:focus, .btn-outline-sc-bg2:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-sc-bg2.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem hsla(203,94%,100%,0.5);
}

.badge-sc-bg2 {
    color: #fff;
    background-color: hsl(203,94%,100%);
}

.badge-sc-bg2[href]:hover, .badge-sc-bg2[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: hsl(203,94%,95%);
}

.alert-sc-bg2 {
    color: hsl(203,94%,80%);
    background-color: hsl(203,94%,75%);
    border-color: hsl(203,94%,85%);
}

.alert-sc-bg2 hr {
    border-top-color: hsl(203,94%,85%);
}

.alert-sc-bg2 .alert-link {
    color: hsl(203,94%,50%);
}


.list-group-item-sc-bg2 {
    color: hsl(203,94%,50%);
    background-color: hsl(203,94%,90%);
}

.list-group-item-sc-bg2.list-group-item-action:hover, .list-group-item-sc-bg2.list-group-item-action:focus {
    color: hsl(203,94%,50%);
    background-color: hsl(203,94%,87%);
}

.list-group-item-sc-bg2.list-group-item-action.active {
    color: #fff;
    background-color: hsl(203,94%,50%);
    border-color: hsl(203,94%,50%);
}

.bg-dark-sc-bg2{
  background-color: hsl(203,94%,30%);
}
.bg-light-sc-bg2{
    background-color: hsl(203,94%,80%);
}
.text-dark-sc-bg2{
    color: hsl(203,94%,30%);
}

  a.text-dark-sc-bg2, .btn-link.text-dark-sc-bg2{
    color: hsl(203,94%,30%);
  }

  a.text-dark-sc-bg2:hover, a.text-dark-sc-bg2:focus,.btn-link.text-dark-sc-bg2:hover,.btn-link.text-dark-sc-bg2:focus {
    color: hsl(203,94%,50%);
  }

.border-light-sc-bg2{
    color: hsl(203,94%,80%);
}
.border-dark-sc-bg2{
    border-color: hsl(203,94%,30%);
}
.border-light-sc-bg2{
    border-color: hsl(203,94%,80%);
}

.bg-sc-bg2{
    border-color: hsl(203,94%,30%);
    color: hsl(203,94%,30%);
    background-color: hsl(203,94%,100%) !important;
}

.fg-sc-bg2, .fg-sc-bg2 a{
  color: hsl(203,94%,30%);
}

.iconbg-sc-bg2{
    background-color: hsl(203,94%,30%) !important;
}

.fg-sc-bg2 a:hover, .fg-sc-bg2 a:focus{
  color: hsl(203,94%,30%);
  background-color: hsla(203,94%,30%,0.1);
}

  a.bg-sc-bg2:hover, a.bg-sc-bg2:focus,
button.bg-sc-bg2:hover,
button.bg-sc-bg2:focus {
    color: hsl(203,94%,30%);
    background-color: hsl(203,94%,90%) !important;
}

.border-sc-bg2 {
    border-color: hsl(203,94%,100%) !important;
}


.text-sc-bg2 {
    color: hsl(203,94%,100%) !important;
}

a.text-sc-bg2:hover, a.text-sc-bg2:focus {
    color: hsl(203,94%,85%) !important;
}


.btn-link-sc-bg2 {
    font-weight: 400;
    color: hsl(203,94%,100%);
    background-color: transparent;
}

.btn-link-sc-bg2:hover {
    color: hsl(203,94%,85%);
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

.btn-link-sc-bg2:focus, .btn-link-sc-bg2.focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}

.btn-link-sc-bg2:disabled, .btn-link-sc-bg2.disabled {
    color: #6c757d;
}

.custom-control-input-sc-bg2:not(:disabled) ~ .custom-control-label-sc-bg2::before {
    background-color: hsl(203,94%,120%) !important;
}
.custom-control-input-sc-bg2:checked ~ .custom-control-label-sc-bg2::before {
    color: #fff;
    background-color: hsl(203,94%,100%) !important;
}

.custom-control-input-sc-bg2:focus ~ .custom-control-label-sc-bg2::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem hsla(203,94%,100%,0.5);
}

.custom-control-input-sc-bg2:active ~ .custom-control-label-sc-bg2::before {
    color: #fff;
    background-color: hsl(203,94%,85%);
}


  .custom-control-input-dark-sc-bg2:not(:disabled) ~ .custom-control-label-dark-sc-bg2::before {
    background-color: hsl(203,94%,40%) !important;
  }
  .custom-control-input-dark-sc-bg2:checked ~ .custom-control-label-dark-sc-bg2::before {
      color: #fff;
      background-color: hsl(203,94%,30%) !important;
  }

  .custom-control-input-dark-sc-bg2:focus ~ .custom-control-label-dark-sc-bg2::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem hsla(203,94%,30%,0.5);
  }

  .custom-control-input-dark-sc-bg2:active ~ .custom-control-label-dark-sc-bg2::before {
      color: #fff;
      background-color: hsl(203,94%,80%);
  }


  .custom-control-input-sc-bg2:disabled ~ .custom-control-label-sc-bg2 {
    color: #6c757d;
}

.custom-control-input-sc-bg2:disabled ~ .custom-control-label-sc-bg2::before {
    background-color: #e9ecef;
}

.bg-t5-sc-bg2{
    background-color:hsla(203,94%,100%,0.5);
}
  .bg-t4-sc-bg2{
  background-color:hsla(203,94%,100%,0.4);
  }
  .bg-t3-sc-bg2{
  background-color:hsla(203,94%,100%,0.3);
  }
  .bg-t2-sc-bg2{
  background-color:hsla(203,94%,100%,0.2);
  }
  .bg-t1-sc-bg2{
  background-color:hsla(203,94%,100%,0.1);
  }
  .bg-t01-sc-bg2{
  background-color:hsla(203,94%,100%,0.01);
  }
  .bg-t7-sc-bg2{
  background-color:hsla(203,94%,100%,0.7);
  }
  .bg-t9-sc-bg2{
  background-color:hsla(203,94%,100%,0.9);
  }
  .bg-t95-sc-bg2{
  background-color:hsla(203,94%,100%,0.95);
  }
  .bg-t99-sc-bg2{
  background-color:hsla(203,94%,100%,0.99);
  }



  /*Tabelas*/
.table-sc-stress,
.table-sc-stress > th,
.table-sc-stress > td {
    background-color: hsl(203,94%,90%);
}

.table-hover .table-sc-stress:hover {
    background-color: hsl(203,94%,87%);
}

.table-hover .table-sc-stress:hover > td,
.table-hover .table-sc-stress:hover > th {
    background-color: hsl(203,94%,87%);
}

/*Botões*/

.btn-sc-stress {
    border-color: hsl(203,94%,27%);
    color: hsl(203,94%,100%);
    background-color: hsl(203,94%,27%);
}

.btn-sc-stress:hover {
    border-color: hsl(203,94%,17%);
    color: hsl(203,94%,100%);
    background-color: hsl(203,94%,22%);
}

.btn-sc-stress:focus, .btn-sc-stress.focus {
    box-shadow: 0 0 0 0.2rem hsla(203,94%,27%,0.5);
}

.btn-sc-stress.disabled, .btn-sc-stress:disabled {
    color: hsl(203,74%,40%);
    background-color: hsl(203,74%,80%);/*#007bff;*/
    border-color: hsl(203,74%,75%);
}

.btn-sc-stress:not(:disabled):not(.disabled):active, .btn-sc-stress:not(:disabled):not(.disabled).active,
.show > .btn-sc-stress.dropdown-toggle {
    color: hsl(203,94%,100%);
    background-color: hsl(203,94%,12%);
    border-color: hsl(203,94%,7%);
}

.btn-sc-stress:not(:disabled):not(.disabled):active:focus, .btn-sc-stress:not(:disabled):not(.disabled).active:focus,
.show > .btn-sc-stress.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem hsla(203,94%,27%,0.5);
}

.btn-outline-sc-stress {
    color: hsl(203,94%,27%);
    background-color: transparent;
    background-image: none;
    border-color: hsl(203,94%,27%);
}

.btn-outline-sc-stress:hover {
    color: hsl(203,94%,100%);
    background-color: hsl(203,94%,27%);
    border-color: hsl(203,94%,27%);
}

.btn-outline-sc-stress:focus, .btn-outline-sc-stress.focus {
    box-shadow: 0 0 0 0.2rem hsla(203,94%,27%,0.5);
}

.btn-outline-sc-stress.disabled, .btn-outline-sc-stress:disabled {
    color: hsl(203,94%,27%);
    background-color: transparent;
}

.btn-outline-sc-stress:not(:disabled):not(.disabled):active, .btn-outline-sc-stress:not(:disabled):not(.disabled).active,
.show > .btn-outline-sc-stress.dropdown-toggle {
    color: #fff;
    background-color: hsl(203,94%,27%);
    border-color: hsl(203,94%,27%);
}

.btn-outline-sc-stress:not(:disabled):not(.disabled):active:focus, .btn-outline-sc-stress:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-sc-stress.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem hsla(203,94%,27%,0.5);
}

.badge-sc-stress {
    color: #fff;
    background-color: hsl(203,94%,27%);
}

.badge-sc-stress[href]:hover, .badge-sc-stress[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: hsl(203,94%,22%);
}

.alert-sc-stress {
    color: hsl(203,94%,47%);
    background-color: hsl(203,94%,52%);
    border-color: hsl(203,94%,42%);
}

.alert-sc-stress hr {
    border-top-color: hsl(203,94%,42%);
}

.alert-sc-stress .alert-link {
    color: hsl(203,94%,67%);
}


.list-group-item-sc-stress {
    color: hsl(203,94%,67%);
    background-color: hsl(203,94%,90%);
}

.list-group-item-sc-stress.list-group-item-action:hover, .list-group-item-sc-stress.list-group-item-action:focus {
    color: hsl(203,94%,67%);
    background-color: hsl(203,94%,87%);
}

.list-group-item-sc-stress.list-group-item-action.active {
    color: #fff;
    background-color: hsl(203,94%,67%);
    border-color: hsl(203,94%,67%);
}

.bg-dark-sc-stress{
  background-color: hsl(203,94%,30%);
}
.bg-light-sc-stress{
    background-color: hsl(203,94%,80%);
}
.text-dark-sc-stress{
    color: hsl(203,94%,30%);
}

  a.text-dark-sc-stress, .btn-link.text-dark-sc-stress{
    color: hsl(203,94%,30%);
  }

  a.text-dark-sc-stress:hover, a.text-dark-sc-stress:focus,.btn-link.text-dark-sc-stress:hover,.btn-link.text-dark-sc-stress:focus {
    color: hsl(203,94%,50%);
  }

.border-light-sc-stress{
    color: hsl(203,94%,80%);
}
.border-dark-sc-stress{
    border-color: hsl(203,94%,30%);
}
.border-light-sc-stress{
    border-color: hsl(203,94%,80%);
}

.bg-sc-stress{
    border-color: hsl(203,94%,27%);
    color: hsl(203,94%,100%);
    background-color: hsl(203,94%,27%) !important;
}

.fg-sc-stress, .fg-sc-stress a{
  color: hsl(203,94%,100%);
}

.iconbg-sc-stress{
    background-color: hsl(203,94%,100%) !important;
}

.fg-sc-stress a:hover, .fg-sc-stress a:focus{
  color: hsl(203,94%,100%);
  background-color: hsla(203,94%,100%,0.1);
}

  a.bg-sc-stress:hover, a.bg-sc-stress:focus,
button.bg-sc-stress:hover,
button.bg-sc-stress:focus {
    color: hsl(203,94%,100%);
    background-color: hsl(203,94%,17%) !important;
}

.border-sc-stress {
    border-color: hsl(203,94%,27%) !important;
}


.text-sc-stress {
    color: hsl(203,94%,27%) !important;
}

a.text-sc-stress:hover, a.text-sc-stress:focus {
    color: hsl(203,94%,12%) !important;
}


.btn-link-sc-stress {
    font-weight: 400;
    color: hsl(203,94%,27%);
    background-color: transparent;
}

.btn-link-sc-stress:hover {
    color: hsl(203,94%,12%);
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

.btn-link-sc-stress:focus, .btn-link-sc-stress.focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}

.btn-link-sc-stress:disabled, .btn-link-sc-stress.disabled {
    color: #6c757d;
}

.custom-control-input-sc-stress:not(:disabled) ~ .custom-control-label-sc-stress::before {
    background-color: hsl(203,94%,47%) !important;
}
.custom-control-input-sc-stress:checked ~ .custom-control-label-sc-stress::before {
    color: #fff;
    background-color: hsl(203,94%,27%) !important;
}

.custom-control-input-sc-stress:focus ~ .custom-control-label-sc-stress::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem hsla(203,94%,27%,0.5);
}

.custom-control-input-sc-stress:active ~ .custom-control-label-sc-stress::before {
    color: #fff;
    background-color: hsl(203,94%,42%);
}


  .custom-control-input-dark-sc-stress:not(:disabled) ~ .custom-control-label-dark-sc-stress::before {
    background-color: hsl(203,94%,40%) !important;
  }
  .custom-control-input-dark-sc-stress:checked ~ .custom-control-label-dark-sc-stress::before {
      color: #fff;
      background-color: hsl(203,94%,30%) !important;
  }

  .custom-control-input-dark-sc-stress:focus ~ .custom-control-label-dark-sc-stress::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem hsla(203,94%,30%,0.5);
  }

  .custom-control-input-dark-sc-stress:active ~ .custom-control-label-dark-sc-stress::before {
      color: #fff;
      background-color: hsl(203,94%,80%);
  }


  .custom-control-input-sc-stress:disabled ~ .custom-control-label-sc-stress {
    color: #6c757d;
}

.custom-control-input-sc-stress:disabled ~ .custom-control-label-sc-stress::before {
    background-color: #e9ecef;
}

.bg-t5-sc-stress{
    background-color:hsla(203,94%,27%,0.5);
}
  .bg-t4-sc-stress{
  background-color:hsla(203,94%,27%,0.4);
  }
  .bg-t3-sc-stress{
  background-color:hsla(203,94%,27%,0.3);
  }
  .bg-t2-sc-stress{
  background-color:hsla(203,94%,27%,0.2);
  }
  .bg-t1-sc-stress{
  /*background-color:hsla(203,94%,67%,0.2);*/
      background-color: hsla(203,94%,100%,0.1)
  /*  background-color: rgba(200,200,200,0.5);*/
  }
  .bg-t01-sc-stress{
  background-color:hsla(203,94%,27%,0.01);
  }
  .bg-t7-sc-stress{
  background-color:hsla(203,94%,27%,0.7);
  }
  .bg-t9-sc-stress{
  background-color:hsla(203,94%,27%,0.9);
  }
  .bg-t95-sc-stress{
  background-color:hsla(203,94%,27%,0.95);
  }
  .bg-t99-sc-stress{
  background-color:hsla(203,94%,27%,0.99);
  }


