.img-position{
    position: relative;
    overflow: hidden;
    user-select: none;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

.img-position img{
    max-height: 300px;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.img-position .imgsignline:hover{
    background-color: rgba(0,0,0,0.2);
}


.img-position .imgsignline{
    width: 100%;
    height: 200%;
    top:-50%;
    position: absolute;
    display: flex;
    align-items: center;
}

.img-position .imgsignline:before{
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #222;
}

.buttonfile {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 !important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonfile i {
    position: absolute;
}

.buttonfile input[type=file] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    width:100% !important;
    height: 100% !important;
}
