@page {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}
body{
    color: #555;
    font-size: 13pt;
    font-family: "Roboto Regular", sans-serif;
}


/*************************************************************/


.background{
    width: 297mm;
    height: 210mm;
}
.wrapcontainer{
    background-color: white;
    position: absolute;
    top:25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
}

/************************************************************/
.outlayer{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.outlayer:after{
    clear: both;
}

.inst_logo{
    width: 120px;
    margin: 20px 40px;
}


.etiqueta{
    text-align: center;
    position: relative;
    float: right;
    margin-right: 40px;
    z-index: 1000;
    height: 200px;
    width: 140px;
}
.etiqueta_triangle{
    height: 0;
    position: relative;
    top:160px;
    width: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 0 71px 41px 71px;
}
.etiqueta img{
    position: absolute;
    width: 140px;
    top:30px;
}
/***************************************************************/


.header{
    width: 100%;
    text-align: center;
    display: block;
}
.header .cell{
    height: 200px;
    font-size: 25pt;
}
/******************************************************/
.content{
    padding: 0 80px;
    text-align: justify;
    font-family: "Rochester", sans-serif;
    font-size: 18pt;
}

/*.participante{*/
/*    font-size: 14pt;*/
/*}*/

.content .cell{
    height: 240px;
    width: 100%;
}

.atividades{
    font-family: "Roboto Regular", sans-serif;
    font-size: 10pt;
    color: #555;
}
/****************************************************/
.sign .cell{
    height: 130px;
    vertical-align: bottom;
    padding-bottom: 20px;
}

.sign{
    width: 100%;
    text-align:center;
}
.signblock{
    font-size: 9pt !important;
    height: 50px;
    z-index: 1000;
}

.sign .signimg{
    position: relative;
}

.sign img{
    margin-top: 10px;
    height:70px;
    position: relative;
    display: block;
}

/*****************************************************/

.footer{
    text-align: center;
    width: 100%;
}

.footer .cell{
    vertical-align: top;
}

.footer .apoio{
    width: 40%;
}

.footer .patrocinio{
    width:60%;
}

.footer .footer-logo{
    margin: 0 10px 10px 10px;
    vertical-align: middle;
}

.footer-logo.xp{
    width: 10px;
}
.footer-logo.pp{
    width:25px;
}
.footer-logo.p{
    width:30px;
}
.footer-logo.m{
    width:35px;
}
.footer-logo.g{
    width:50px;
}
.footer-logo.gg{
    width:60px;
}
.footer-logo.xg{
    width: 70px;
}

/*************************************************************/

.table{
    display: table;
}
.row{
    display: table-row;
    width: 100%;
}
.cell{
    vertical-align: middle;
    display: table-cell;
}
.strong{
    color:black !important;
}