.content-clock{
    min-height: 100vh;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(7px);
}
.content-clock-inner{
    max-height: 400px;
    align-self: center;
    padding: 20px 0;
    border-radius: 5px;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.back{
    position: fixed;
    z-index: -1;
    top:-1vh;
    left: -1vw;
    right: -1vw;
    bottom: -1vh;
    /*filter: blur(10px) contrast(120%);*/

    background-size: cover;
    background-position: center;
}

.clock-title{
    font-size: 34pt;
}