.loading-box.show{
    display: flex !important;
}

.loading-box{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
}

.loading-box .loader{
    width: 0;
    height: 0;
    position: relative;
}


.loading-box .loader>*{
    display: block;
    border-width: 5px;
    border-style: solid;
    border-bottom-color: transparent!important;
    border-left-color: transparent!important;
    border-right-color: white!important;
    border-top-color: white!important;
    position: absolute;
    width: 100px;
    height: 100px;
    transform-origin: -0% -0%;
    animation-duration: 5s;
    transform:rotate(45deg)  translate(-50%,-50%);
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius:50%;
}

.loading-box .loader>*:nth-child(1){
    animation-name: spin3;
    width: 100px;
    height: 100px;
}

.loading-box .loader>*:nth-child(2){
    animation-name: spin2;
    width: 80px;
    height: 80px;
}

.loading-box .loader>*:nth-child(3){
    animation-name: spin1;
    width: 60px;
    height: 60px;
}

@keyframes spin1{
    from{transform:rotate(45deg)  translate(-50%,-50%);}
    to{transform:rotate(1125deg)  translate(-50%,-50%);}
}
@keyframes spin2{
    from{transform:rotate(45deg)  translate(-50%,-50%);}
    to{transform:rotate(765deg)  translate(-50%,-50%);}
}
@keyframes spin3{
    from{transform:rotate(45deg)  translate(-50%,-50%);}
    to{transform:rotate(405deg)  translate(-50%,-50%);}
}
