
body{
    padding: 0;
    margin: 0;
}

.container-wrapper{
    position: relative;
    padding: 0;

}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.card-clickable {
   cursor: pointer;
}

.card-clickable:hover,.card-clickable:focus{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card-clickable:active{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.2);
}

.hideElmForm{
    display: none;
}

input,select,textarea,button,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline:none;
}

/*!*************PageWrapper***********!*/
/*.card-header .out input{*/
/*    background-color: rgba(128,128,128,0.3);*/
/*    border:none;*/
/*    color: white;*/
/*    transition: background-color 200ms linear, border-color 200ms linear ;*/
/*}*/
/*.card-header .out input:focus{*/
/*    background-color: rgb(255,255,255) !important;*/
/*    color: #555;*/
/*}*/

/*.card-header .out input:hover{*/
/*    background-color: rgb(255,255,255) !important;*/
/*    color: #555;*/
/*}*/

/*.card-header .out span{*/
/*    background-color: rgba(128,128,128,0.3) !important;*/
/*    border: none !important;*/
/*    color: white !important;*/
/*}*/

/*.msgContainer{*/
/*    position: relative;*/
/*    max-height: 0;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    */
/*}*/
/*.msgContainer .msgRow{*/
/*    position: absolute;*/
/*    margin:10px 0 0 70px; */
/*    border-radius:10px;*/
/*    max-height:100px;*/
/*    width: calc(100% - 110px);*/
/*    border: none;*/
/*    color:white;*/
/*    background-color: rgba(180,0,0,0.9) !important;*/
/*}*/



/*  */
/*  !* Safari *!*/
/*  @-webkit-keyframes spin {*/
/*    0% { -webkit-transform: rotate(0deg); }*/
/*    100% { -webkit-transform: rotate(360deg); }*/
/*  }*/
/*  */
/*  @keyframes spin {*/
/*    0% { transform: rotate(0deg); }*/
/*    100% { transform: rotate(360deg); }*/
/*  }*/


/*!***********************************!*/

/*!*************Page******************!*/
/*canvas{*/
/*    height: 0;*/
/*    width: 0;*/
/*}*/

/*.card-header .btn{*/
/*    width: 100%;*/
/*    text-align: left;*/
/*    font-size: 14pt !important;*/
/*}*/

/*.page-content-wrapper .content-body{*/
/*    flex-grow: 1;*/
/*}*/
/*.page-content-wrapper .content-body>div{*/
/*    padding-bottom: 40px;*/
/*}*/


/*#wrapper.toggled .page-content-wrapper{*/
/*    height: 100vh;*/
/*    overflow: hidden;*/
/*}*/

/*.header-wrapper{*/
/*    display: flex;*/
/*    transition: height 300ms linear;*/
/*    width: 100vw;*/
/*    padding: 4px 10px;*/
/*    border-bottom: 1px solid #ddd;*/
/*    flex-direction: row;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    height: 100px;*/
/*    z-index: 5;*/
/*    background-color: rgba(248,249,250,0.95);*/
/*}*/

/*.header-wrapper div{*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.header-wrapper div:nth-child(1){*/
/*    align-items: center;*/
/*    width:15%;*/
/*}*/

/*.header-wrapper div:nth-child(2){*/
/*    display: flex;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*    justify-content: center;*/
/*    font-size: 14pt;*/
/*    width: 70%;*/
/*    flex-grow: 2;*/
/*}*/

/*.header-wrapper div:nth-child(3){*/
/*    width: 15%;*/
/*    margin-right: 1%;*/

/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
/*    background-position-x: right;*/
/*    background-position-y: center;*/

/*    align-items: center;*/
/*    justify-content: end;*/
/*}*/




/*.page-content-wrapper .card{*/
/*    margin: 10px 0;*/
/*}*/

/*.card{*/
/*    border: 1px solid rgba(0,0,0,0.1);*/
/*    box-shadow: 0 1px 3px  rgba(0,0,0,0.1);*/
/*}*/
/*!***********************************!*/

/*!************Sidebar****************!*/

/*.menu-section {*/
/*    overflow: hidden;*/
/*    transition: width 300ms linear;*/
/*}*/

/*.sidebar-wrapper {*/
/*    max-width: 100%;*/
/*    width: 0;*/
/*    top:0;*/
/*    position: relative;*/
/*}*/
/*#wrapper.toggled .sidebar-wrapper {*/
/*    width: 250px;*/
/*}*/

/*.sidebar-nav {*/
/*    position: relative;*/
/*    margin-top: 70px;*/
/*}*/
/*.sidebar-nav ul{*/
/*    position: relative;*/
/*    width: 100%;*/
/*    padding: 0 14px;*/
/*    list-style: none;*/
/*}*/

/*.sidebar-nav ul li{*/
/*    margin: 3px 0;*/
/*}*/

/*.sidebar-nav ul li a{*/
/*    border-radius:30px;*/
/*}*/

/*.sidebar-nav a.menu-active{*/
/*    border: 1px solid;*/
/*}*/

/*.sidebar-nav>ul>li {*/
/*    line-height: 35px;*/
/*    font-size: 14pt;*/
/*}*/

/*.sidebar-nav ul li:not(.sidebar-brand) a{*/
/*    text-indent:20px;*/
/*    display: block;*/
/*    width: 100%;*/
/*    text-decoration: none;*/

/*}*/

/*.sidebar-nav>ul>li>ul{*/
/*    font-size: 12pt !important;*/
/*    font-weight: normal;*/
/*    background-blend-mode: exclusion;*/
/*    overflow:hidden;*/
/*    max-height: 0;*/
/*    transition: max-height 300ms linear;*/
/*}*/


/*.sidebar-brand {*/
/*    position: relative;*/
/*    width: 250px;*/
/*    text-align: center;*/
/*}*/

/*.sidebar-brand a{*/
/*   display: block;*/
/*}*/
/*.sidebar-brand a:hover,.sidebar-brand a:active,.sidebar-brand a:focus{*/
/*    background-color: transparent !important;*/
/*}*/

/*.sidebar-brand img{*/
/*    height: 130px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*li[menu-opened]>ul{*/
/*    max-height: 400px !important;*/
/*}*/
/*!***********************************!*/

/*!**********Menu Opener**************!*/
/*.menu-open-wrapper{*/
/*    position: fixed;*/
/*    left: 10px;*/
/*    top: 0;*/
/*    padding: 0;*/
/*    z-index: 1000;*/
/*    -webkit-transition: left 0.5s ease-in;*/
/*    -moz-transition: left 0.5s ease-in;*/
/*    -o-transition: left 0.5s ease-in;*/
/*    transition: left 0.5s ease-in;*/
/*}*/

/*.menu-open-wrapper a{*/
/*    display: block;*/
/*    transition: height 300ms linear;*/
/*    width: 50px;*/
/*    height: 95px;*/
/*    outline-color: transparent;*/
/*}*/

/*.menu-open-wrapper span{*/
/*    transition: transform 200ms ease 100ms, background-color 300ms linear 100ms;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    right: 10px;*/
/*    left: 10px;*/
/*    height: 3px;*/
/*    border-radius: 100px;*/
/*    background-color: #444;*/
/*    transform-origin: center;*/
/*}*/

/*.menu-open-wrapper  span:first-child{*/
/*    transform: translate(0,-10px);*/
/*}*/
/*.menu-open-wrapper  span:last-child{*/
/*    transform: translate(0,10px);*/
/*}*/

/*#wrapper.toggled .menu-open-wrapper{*/
/*    left: 187px;*/
/*    z-index: 1000;*/
/*    -webkit-transition: left 0.5s ease-in, transform 200ms ease 100ms, background-color 10ms linear 0.5s;*/
/*    -moz-transition: left 0.5s ease-in, transform 200ms ease 100ms, background-color 10ms linear 0.5s;*/
/*    -o-transition: left 0.5s ease-in, transform 200ms ease 100ms, background-color 10ms linear 0.5s;*/
/*    transition: left 0.5s ease-in, transform 200ms ease 100ms, background-color 10ms linear 0.5s;*/
/*}*/
/*#wrapper.toggled .menu-open-wrapper  span:not(:last-child){*/
/*    transform: rotate(45deg);*/
/*    height: 2px;*/
/*}*/
/*#wrapper.toggled .menu-open-wrapper  span:last-child{*/
/*    transform: rotate(-45deg);*/
/*    height: 2px;*/
/*}*/
/*!*******************************************!*/
/*!****************Footer********************!*/
/*.footer{*/
/*    width: 100%;*/
/*    bottom: 0;*/
/*    border: 1px solid rgba(0,0,0,0.05);*/
/*    padding: 25px 0;*/
/*}*/
/*!******************************************!*/
/*!****************mainLogo******************!*/

/*!******************************************!*/
/*!****************Table First Fixed*********!*/
/*table.first-fixed{*/
/*    width: 100%;*/
/*}*/
/*table.first-fixed tr>*:first-child{*/
/*    position: absolute;*/

/*    z-index: 4;*/
/*    border-right: 1px solid #ddd;*/
/*    border-top: 0;*/
/*    border-left:  0;*/
/*    border-bottom:  0;*/
/*    background-color: white;*/
/*}*/
/*table.first-fixed thead tr>*:first-child{*/
/*    background-color: #efefef;*/
/*    height: 65px;*/
/*}*/
/*table.first-fixed thead tr>*:not(:first-child){*/
/*    height: 65px;*/
/*    vertical-align: middle;*/
/*}*/
/*table.first-fixed thead th{*/
/*    border: 0;*/
/*}*/
/*table.first-fixed thead{*/
/*    background-color: #efefef;*/
/*}*/
/*table.first-fixed tr>*:nth-child(2){*/
/*    padding-left: 80px;*/
/*    min-width: 200px;*/
/*}*/
/*table.first-fixed tr>*:nth-child(3){*/
/*    min-width: 150px;*/
/*}*/
/*table.first-fixed tr>*:nth-child(4){*/
/*    min-width: 100px;*/
/*}*/
/*table.first-fixed tr>*:not(:first-child){*/
/*    width: 33%;*/
/*    border: 0;*/
/*}*/


/*@media(min-width:768px) {*/
/*    .header-wrapper div:nth-child(2){*/
/*        font-size: 16pt;*/
/*    }*/

/*}*/



/*.signout i{*/
/*    font-size: 16pt !important;*/
/*}*/


/*!********************************************!*/
/*!*********FOOTER*************!*/
/*.footer-row-content{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.footer-logo{*/
/*    margin: 10px;*/
/*    background-repeat:no-repeat;*/
/*    background-size: contain;*/
/*    width:80px;*/
/*    height:80px;*/
/*    background-position: center;*/
/*}*/

/*@media (min-width:768px) {*/
/*    .login-col{*/
/*        border-left:1px solid #ddd;*/
/*    }*/
/*}*/

/*@media (min-width:992px) {*/
/*    .footer-col{*/
/*        border-left:1px solid #ddd;*/
/*    }*/
/*}*/
