input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
@media (min-width:768px){
    .trocaLineContainer [name*=qtd]{
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
    }
}
