$media-sm : 576px;
$media-md : 768px;
$media-lg : 992px;
$media-xl : 1200px;


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.card-clickable {
  cursor: pointer;
}

.card-clickable:hover,.card-clickable:focus{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card-clickable:active{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.2);
}

.hideElmForm{
  display: none;
}

input,select,textarea,button,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline:none;
}

%resetspacing {
  margin: 0;
  padding: 0;
}


@import "dashboard/main";
