.cronogramas{
  table{
    text-align: center;
    width: 100%;
    position: relative;
  }

  table td{
    vertical-align: center;
    word-break: keep-all;
    white-space: nowrap;
    border: 1px solid #eeeeee;
  }

  table thead tr:first-of-type td, table tbody tr td:first-of-type{
    background-color: #1b1e21;
    color: white;
    position: relative;
  }

  table tbody tr td:first-of-type{
    padding: 5px 10px;
  }

  table thead tr:last-of-type td{
    background-color: #4e555b;
    color: white;
  }

  .cellAdd, .cellEdit{
    background-color: #fefefe;
    color: #8FA5C4;
    border: 1px solid #eeeeee;
    cursor: pointer;
  }

  .cellEdit, .cellShow{
    word-break: normal;
    font-size: 10pt;
    white-space: unset;
    cursor: pointer;
  }

  .cellAdd:hover, .cellAdd:focus{
    background-color: #efefef;
  }


  .overCol{
    position: absolute;
    width: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    transition: background-color 200ms linear;
  }

  .overCol:hover{
    background-color: rgba(0,0,0,0.3);
  }

  .cellEspecial{
    background-image: url("/images/stdImages/bg-texture-black.png");
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }
}