$sidebar-width: 250px;
$page-top-space:120px;
$sidebar-transition:0.5s;
$sidebar-page-fade:300ms;
@import "menu-opener","sidebar","page-content", "page-header", "cronogramas";

.card{
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px  rgba(0,0,0,0.4);
}

#dashboard-wrapper{
  display: flex;
  @extend %resetspacing;
  &.toggled{
    height: unset;
  }
}

.card-header-btn{
  padding: 0;
}

.card-header-btn .btn{
    width: 100%;
    text-align: left;
    font-size: 14pt !important;
    padding: 1rem;
    box-sizing: border-box;
}




