.menu-open-wrapper{
    position: absolute;
    left: 10px;
    top: 0;
    padding: 0;
    z-index: 1000;
    -webkit-transition: left 0.5s ease-in;
    -moz-transition: left 0.5s ease-in;
    -o-transition: left 0.5s ease-in;
    transition: left 0.5s ease-in;

    a{
      display: block;

      width: 50px;
      height: $page-top-space;
      outline-color: transparent;
    }

    span {
        transition: transform 200ms ease 100ms, background-color 300ms linear 100ms;
        position: absolute;
        top: 50%;
        right: 10px;
        left: 10px;
        height: 3px;
        border-radius: 100px;
        background-color: #444;
        transform-origin: center;

        &:first-child{
          transform: translate(0,-10px);
        }
        &:last-child{
          transform: translate(0,10px);
        }
    }

    #dashboard-wrapper.toggled &{
        left: -70px;
        z-index: 1000;
        -webkit-transition: left 0.5s ease-in, transform 200ms ease 100ms, background-color 10ms linear 0.5s;
        -moz-transition: left 0.5s ease-in, transform 200ms ease 100ms, background-color 10ms linear 0.5s;
        -o-transition: left 0.5s ease-in, transform 200ms ease 100ms, background-color 10ms linear 0.5s;
        transition: left 0.5s ease-in, transform 200ms ease 100ms, background-color 10ms linear 0.5s;
        span:not(:last-child){
          transform: rotate(45deg);
          height: 2px;
        }

        span:last-child{
          transform: rotate(-45deg);
          height: 2px;
        }

    }

}