.page-wrapper{
  left: 0;
  transition: left 0.5s ease-in;
  position: relative;
  @extend %resetspacing;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  .page-content{
    padding-top: $page-top-space;
    width: 100%;
    min-width: 285px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    transition: width 0ms linear 0.5s, padding-top 300ms linear;

    .content-body > .container-fluid .card{
      margin:0.75rem 0;
    }

    .content-body{
     flex-grow: 2;
    }

    #dashboard-wrapper.toggled &{
      width: 100vw;
      transition: width 0ms linear 0s;
    }

  }

  &:before{
    content: " ";
    display: block;
    position: fixed;
    top:0;
    left:0;
    width: 0;
    height: 100vh;
    z-index: 2000;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transition: opacity $sidebar-page-fade linear, width 0ms linear $sidebar-page-fade, left $sidebar-transition ease-in ;
  }

  #dashboard-wrapper.toggled &:before{
      left: $sidebar-width;
      display: block;
      opacity: 1;
      width: 100vw;
      transition: opacity 300ms linear $sidebar-transition;
  }

  .footer{
      width: 100%;
      bottom: 0;
      border: 1px solid rgba(0,0,0,0.05);
      padding: 25px 0;
      margin-top: 30px;

    .footer-logo{
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: center;
      background-position-y: center;
      align-items: center;
      justify-content: end;

      height: 120px;

    }

  }
}