.page-header-wrapper{
  position: fixed;
  z-index: 1000;
  min-width: 285px;
  width: 100%;
  color: #333;
  left: 0;
  height: $page-top-space;
  transition: left $sidebar-transition ease-in/*, height 300ms linear*/;

  #dashboard-wrapper.toggled &{
    left: $sidebar-width;
  }

  &>div{
    padding: 0.5rem;
    height: 100%;
    .pagename{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  [data-image=main-logo]{
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
        background-position-y: center;
        align-items: center;
        justify-content: end;
  }

  font-size: 12pt;

  @media (min-width: $media-sm) {
    font-size: 14pt;
  }
  
  @media (min-width: $media-md) {
    font-size: 16pt;
  }

}