.sidebar-wrapper{

  .sidebar-content{
    width: $sidebar-width;
    min-height: 100vh;
  }

  overflow: hidden;
  width: 0;
  flex-shrink: 0;
  flex-grow: 0;



  transition: width $sidebar-transition ease-in;

  #dashboard-wrapper.toggled &{
    width: $sidebar-width;
  }

  .sidebar-brand{
    padding-top: 90px;
    padding-left: 50px;
    padding-right: 50px;
    img{
      width: 100%;
    }
  }

  .sidebar-nav{
    a {
      width: 100%;
    }
    &>ul>li{
      line-height: 35px;
      font-size: 14pt;
      &>ul{
        font-size: 12pt !important;
        font-weight: normal;
        background-blend-mode: exclusion;
        overflow:hidden;
        max-height: 0;
        transition: max-height 300ms linear;
      }
      &[menu-opened]>ul{
        max-height: 300px;
      }
    }
    ul{
        position: relative;
        width: 100%;
        padding: 0 14px;
        list-style: none;
        li{
          margin: 3px 0;
            a{
              border-radius:30px;
              &.menu-active{
                border: 1px solid;
              }
            }
        }

        li:not(.sidebar-brand) a{
          text-indent:20px;
          display: block;
          width: 100%;
          text-decoration: none;
        }
    }
  }
}